<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/style.css">
</head>

<body>

  <div class="margin">
    <div class="wrapper">
      <div class="head">
        <img src="../images/image77.png" alt="">
        <div class="right-content">
          <h1>DIGITAL - CHERRY</h1>
          <p class="para1">DANIEL SZASZ</p>
          <p class="para2">CTO & Co-Founder</p>
        </div>
      </div>
      <div class="mid-con">
        <div class="mid-inner-con">
          <div class="linkedin">
            <div class="linkedin-image">
              <img src="../images/linkedin.png">
            </div>
            <p>LinkedIn</p>
          </div>
          <div class="facebook">
            <div class="facebook-image">
              <img src="../images/facebook.png">
            </div>
            <p>Facebook</p>
          </div>
          <div class="whatsapp">
            <div class="whatsapp-image">
              <img src="../images/whatsnew.png">
            </div>
            <p>Whatapp</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img class="emailsetting" src="../images/emaileditw.png">
            </div>
            <p>Email</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img  src="../images/mobile.png">
            </div>
            <p>Mobile</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img src="../images/location.png">
            </div>
            <p>Arrive</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img  class="imgwebi" src="../images/webicons.png">
            </div>
            <p>Website</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img src="../images/shape.png">
            </div>
            <p>Share</p>
          </div>
          <div class="email">
            <div class="email-image">
              <img src="../images/save.png">
            </div>
            <p>Save</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/script.js"></script>
</body>

</html>